# Auto detect text files and perform LF normalization
* text=auto
Makefile linguist-generated
makefile linguist-generated
*.mk linguist-generated
*.d linguist-generated
*.bat linguist-generated
*.cmd linguist-generated